
html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	width: auto;
	min-height: 100%;
	margin: 0;
	padding-bottom: 50px;
	border: 0;
	background-image: url('../img/wallpaper.jpg');
	background-size: cover;
	font-family: 'Roboto', 'Arial', sans-serif;
	color: #13140F;
}

header h1 {
	float: left;
	margin: auto 10px 10px;
	font-family: 'Pacifico', cursive;
	font-size: 250%;
	color: #fff;
	display: block;
}

.topnav {
	overflow: hidden;
	background-color: #13140F;
}

.topnav a {
	float: right;
	display: block;
	color: #f2f2f2;
	padding: 29px 20px;
	text-decoration: none;
	font-size: 18px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #13140F;
	text-align: right;
	color: #fff;
	font-size: 85%;
	padding: 19px 10px;
}

.form {
	display: block;
	width: 40%;
	min-width: 250px;
	margin: 30px auto;
	padding: 10px;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
	overflow: auto;
}

form label, form input, form button {
	display: block;
	width: 100%;
}

form label {
	font-size: 80%;
	margin-left: 5px;
}

form input, button {
	height: 35px;
	margin: 2px 0 10px 0;
	padding: 0 5px;
}

input {
	border: 1px solid #B7BFBF;
}

.button {
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
	border: 0;
	width: 100%;
}

.form h3 {
	margin: 0;
	font-size: 200%;
	padding-bottom: 5px;
	border-bottom: 1px solid #B7BFBF;
}

.splash {
	margin: 10px 0;
	padding: 2px;
	font-size: 95%;
}

.center {
	text-align: center;
}

.webcam {
	position: relative;
	width: 730px;
	display: inline-block;
	margin: 1% auto;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
}

#video {
	width: 100%;
	height: 100%;
}

.webcam-button {
	display: inline-block;
	margin: 5px auto;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

.red-background {
	background-color: red;

}

.green-background {
	background-color: green;
}

#canvas {
	display: none;
}

.form a {
	color: black;
	text-decoration: none;
	font-size: 80%;
	margin-right: 5px;
}

.sticker-box {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 1% 0.5%;
	padding: 0.5%;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
}

.sticker-box .image img {
	margin: 0.5%;
	padding: 5%;
	width: 100%;
}

.sticker-box .image img:hover, .sticker-box .image img:active {
	border-radius: 15px;
	border: 1px solid #B7BFBF;
	background-color: white;
	cursor: pointer;
}

.sticker-active {
	border-radius: 15px;
	border: 1px solid #B7BFBF;
	background-color: lightgrey;
}

#overlay {
	position: absolute;
	width: 100%;
}

.photo {
	margin: 1% auto;
	position: relative;
	width: 730px;
	background: #E7E7E7;
	display: none;
}

#gallery {
	text-align: center;
	width: 100%;
	padding: 2.5%;
}

#gallery-photos {
	display: inline-block;
	margin: 0.5% 0.5%;
	padding: 0.1%;
	width: 300px;
}

#form-upload {
	margin: 5%;
}

#form-submit {
	color: white;
	background-color: red;
	cursor: pointer;
}

#shot-method {
	display: block;
	background: #E7E7E7;
	border: 1px solid #B7BFBF;
	margin: 3% auto;
	width: 35%;
	min-width: 250px;
}

#shot-method img:hover {
	background-color: lightgrey;
	border-radius: 15px;
	padding: 5%;
}

.shot-method-image {
	position: relative;
	display: inline-block;
	width: 100%;
}

figcaption {
	color: black;
	text-decoration: none;
	color: black;
	font-family: Gill Sans, Verdana;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 15px auto;
}

figure {
	width: 35%;
	display: inline-block;
	text-decoration: none;
}

ul {
	margin: 2% auto;
	list-style: square outside none;
	font-size: 150%;
}

.pagination {
	width: 80px;
	padding: 10px;
	display: inline-block;
	border: 1px solid white;
	font-family: Gill Sans, Verdana;
	font-size: 13px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	background: black;
	margin: 0.5% auto;
	cursor: pointer;
}

#signature-gallery {
	color: #222;
	text-shadow: 0px 2px 3px #555;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 100%;
	line-height: 18px;
	letter-spacing: 5px;
	display: block;
}

#signature {
	color: #222;
	text-shadow: 0px 2px 3px #555;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 100%;
	line-height: 18px;
	letter-spacing: 5px;
	display: inline-block;
}

#gallery-photos-block {
	background: #E7E7E7;
	margin: 15px;
	padding: 4px;
	display: inline-block;
}

#page-number {
	margin: 2% 0.5% auto;
	display: block;
	font-family: Gill Sans, Verdana;
	letter-spacing: 0.5px;
	padding: 5px;
	color: white;
}

#comment-block {
	overflow: auto;
	display: block;
	max-height: 70vh;
	min-width: 200px;
	padding: 15px;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
	border-bottom: none;
}

.comment-input {
	display: block;
	width: 100%;
	background: white;
	height: 50px;
	margin: 10px 0 0 0;
	padding: 8px 8px;
}

.comment {
	display: block;
	background: white;
	padding: 6px 8px;
	border: 1px solid black;
	border-radius: 8px;
	text-align: left;
	word-wrap: break-word;
}

.comment-author {
	color: black;
	font-family: Gill Sans, Verdana;
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	display: block;
	text-align: left;
}

.line-separator {
	width: 100%;
	margin: 15px auto;
	background: #717171;
	border-bottom: 1px solid black;
}

.delete-comment-button {
	display: inline-block;
	width: 13px;
	border: 0;
	float: right;
}

#last-photos {
	display: block;
	width: 100%;
	margin: 5px auto;
	padding: 1px;
}

.wrapper-last-photos {
	overflow: auto;
	max-height: 80vh;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 1% 0.5%;
	padding: 0.5%;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
	width: 15%;
}

#delete-photo-button {
	width: 25px;
	border: 0;
	float: right;
}

#like-button, #like-inactive {
	width: 23px;
	border: 0;
	float: left;
}

#like-counter {
	margin: 2px 5px;
	float: left;
	display: inline-block;
}

#wrapper-image-viewer {
	width: 700px;
	min-width: 300px;
	margin: 20px auto;
	padding: 5px;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#wrapper-comment-block {
	margin: 20px -2px auto;
	display: inline-block;
	width: 20%;
	min-width: 200px;
	border: 1px solid #B7BFBF;
}

#wrapper-comment-input {
	margin: auto;
	background: #E7E7E7;
	padding: 5px;
	border: 1px solid #B7BFBF;
	border-top: none;
}

#photo {
	width: 100%;
}

#photo-big {
	width: 100%;
}

.twitter-share-button {
  float: right;
	margin: 2px 5px;
}

@media screen and (max-width: 1280px) {
	.webcam, .photo, #photo, #overlay {
		width: 500px;
	}
}

@media screen and (max-width: 880px) {
	.webcam {
		display: block;
	}
	
	.webcam, .photo, #photo, #overlay {
		width: 95%;
		margin: 10px auto;
	}
	
  .sticker-box {
		display: block;
		width: 95%;
		margin: 10px auto;
		overflow: auto;
	}
	
	#sticker {
		width: 32%;
		display: inline-block;
	}
	
	.wrapper-last-photos {
		display: none;
	}
	
	#wrapper-comment-block {
		margin: auto;
		display: block;
		width: 100%;
		border: none;
	}
	
	#wrapper-image-viewer {
		width: 100%;
		margin: auto;
		border: none;
	}
}
