
html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	width: auto;
	min-height: 100%;
	margin: 0;
	padding-bottom: 50px;
	border: 0;
	background-image: url('../img/wallpaper.jpg');
	background-size: cover;
	font-family: 'Roboto', 'Arial', sans-serif;
	color: #13140F;
}

header {
	width: auto;
	height: 75px;
	background-color: #13140F;
}

header h1 {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 220%;
	color: #fff;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #13140F;
	text-align: right;
	color: #fff;
	font-size: 85%;
	padding: 19px 10px;
}

.form {
	width: 40%;
	margin: 30px auto;
	padding: 10px;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
}

form label, form input, form button {
	display: block;
	width: 100%;
}

form label {
	font-size: 80%;
	margin-left: 5px;
}

form input, button {
	height: 35px;
	margin: 2px 0 10px 0;
	padding: 0 5px;
}

input {
	border: 1px solid #B7BFBF;
}

.button {
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
	border: 0;
	width: 100%;
}

.form h3 {
	margin: 0;
	font-size: 200%;
	padding-bottom: 5px;
	border-bottom: 1px solid #B7BFBF;
}

.splash {
	margin: 10px 0;
	padding: 2px;
	font-size: 95%;
}

.connection-block {
	text-align: right;
}

.connection-block a:link, a:visited {
	color: white;
	padding: 28px 1%;
	text-decoration: none;
	display: inline-block;
}

.connection-block a:hover {
	background-color: grey;
}

.center {
	text-align: center;
}

.webcam {
	position: relative;
	width: 505px;
	display: inline-block;
	margin: 1% auto;
	padding: 0.5%;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
}

.webcam-button {
	display: inline-block;
	margin: auto;
	font-size: 15px;
	color: white;
	cursor: pointer;
}

.red-background {
	background-color: red;

}

.green-background {
	background-color: green;
}

#canvas {
	display: none;
}

.form a {
	color: black;
	text-decoration: none;
	font-size: 80%;
	margin-right: 5px;
}

.image-box {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 1% 0.5%;
	padding: 0.5%;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
}

.image-box .image img {
	margin: 0.5%;
	padding: 5%;
	width: 150px;
}

.image-box .image img:hover, .image-box .image img:active {
	border-radius: 15px;
	border: 1px solid #B7BFBF;
	background-color: white;
	cursor: pointer;
}

.sticker-active {
	border-radius: 15px;
	border: 1px solid #B7BFBF;
	background-color: lightgrey;
}

#overlay {
	position: absolute;
	width: 480px;
	height: 360px;
}

.photo {
	position: relative;
	max-width: 505px;
	margin: 1% auto;
	padding: 0.5%;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
	display: none;
}

#gallery {
	text-align: center;
	width: 100%;
	padding: 2.5%;
}

#gallery-photos {
	display: inline-block;
	margin: 0.5% 0.5%;
	padding: 0.1%;
	width: 300px;
}

#form-upload {
	margin: 5%;
}

#form-submit {
	color: white;
	background-color: red;
	cursor: pointer;
}

#shot-method {
	display: block;
	background: #E7E7E7;
	border: 1px solid #B7BFBF;
	margin: 3% auto;
	width: 35%;
}

#shot-method img:hover {
	background-color: lightgrey;
	border-radius: 15px;
	padding: 5%;
}

.shot-method-image {
	position: relative;
	display: inline-block;
	width: 100%;
}

figcaption {
	color: black;
	text-decoration: none;
	color: black;
	font-family: Gill Sans, Verdana;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 15px auto;
}

figure {
	width: 35%;
	display: inline-block;
	text-decoration: none;
}

.pagination {
	width: 80px;
	padding: 10px;
	display: inline-block;
	border: 1px solid white;
	font-family: Gill Sans, Verdana;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	background: #4CAF50;
	margin: 0.5% auto;
	cursor: pointer;
}

#signature {
	text-decoration: none;
	color: black;
	font-family: Gill Sans, Verdana;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	display: block;
	text-align: right;
}

#gallery-photos-block {
	margin: 10px;
	display: inline-block;
	background: white;
}

#page-number {
	margin: 2% 0.5% auto;
	display: block;
	font-family: Gill Sans, Verdana;
	letter-spacing: 0.5px;
	padding: 5px;
}

#image-viewer {
	width: 30%;
	min-width: 300px;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
	border-radius: 3px;
}

#comment-block {
/*   overflow: auto;
	max-height: 350px; */
	width: 30%;
	min-width: 300px;
	margin: -15px auto;
	padding: 15px;
	border: 1px solid #B7BFBF;
	background: #E7E7E7;
	border-radius: 3px;
}

.comment-input {
	display: block;
	width: 100%;
	background: white;
	height: 50px;
	margin: 10px 0 0 0;
	padding: 8px 8px;
}

.comment {
	display: block;
	background: white;
	padding: 6px 8px;
	border: 1px solid black;
	border-radius: 8px;
}

.comment-author {
	color: black;
	font-family: Gill Sans, Verdana;
	font-size: 10px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	display: inline-block;
}

.line-separator {
	width: 100%;
	margin: 15px auto;
	background: #717171;
	border-bottom: 1px solid black;
}

.delete-comment {
	width: 13px;
	float: right;
	border: 0;
	margin: 5px;
}

#photo-big {
	width: 100%;
	/* 	min-width: 80%; */
}